<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<h1><%= htmlWebpackPlugin.options.title %></h1>
<h2>Practice 14</h2>
<div class="state-stores">
    <button class="increase">
        Increase
    </button>
    <button class="decrease">
        Decrease
    </button>
</div>
</body>
</html>